.log-in-page {
  padding: 0 10% 10% 10%;
  background-color: #fff2f2;
}

.wrap-log-in {
  margin: 0 auto;
  padding-top: 110px;
  width: 100%;
}

.log-in-icon {
  display: block;
  margin: 0 auto;
  width: 60vh;
  height: 45vh;
}

.log-in-form {
  position: relative;
}

.wrap-log-in-input {
  text-align: end;
  margin-right: 40%;
  font-size: 2vw;
  font-weight: bold;
}

.log-in-input {
  text-align: center;
  margin: 1%;
  height: 32px;
  width: 350px;
  border: 3px black solid;
  font-size: 26px;
}

.log-in-btn {
  position: absolute;
  top: 50%;
  left: 67%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 100px;
  border: 3px black solid;
  font-weight: bold;
  font-size: 32px;
  cursor: pointer;
  background-color: white;
}

.sign-up {
  display: block;
  margin: 4% auto 0 auto;
  width: 30vw;
  height: 5vw;
  font-size: 2vw;
}

.find-id-pw {
  display: block;
  margin: 0 auto;
  margin-top: 2%;
  border: 0px;
  font-size: 1.5vw;
  background-color: #fff2f2;
}
