.log-in-page {
  padding: 0 10% 15% 10%;
  background-color: #fff2f2;
}

.wrap-log-in {
  margin: 0 auto;
  padding-top: 110px;
  width: 100%;
}

.log-in-icon {
  display: block;
  margin: 0 auto;
  width: 17rem;
  height: 13rem;
}

.log-in-form {
  position: relative;
}

.wrap-log-in-input {
  text-align: end;
  margin-right: 40%;
  font-size: 1rem;
  font-weight: bold;
}

.log-in-input {
  text-align: center;
  margin: 1%;
  height: 1.7rem;
  width: 13rem;
  border: 2px black solid;
  font-size: 1rem;
}

.log-in-btn {
  position: absolute;
  top: 50%;
  left: 67%;
  transform: translate(-50%, -50%);
  width: 6rem;
  height: 4.5rem;
  border: 2px black solid;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
}

.sign-up {
  display: block;
  margin: 4% auto 0 auto;
  width: 18rem;
  height: 4rem;
  font-size: 1.3rem;
}

.find-id-pw {
  display: block;
  margin: 0 auto;
  margin-top: 2%;
  border: 0px;
  font-size: 1rem;
  background-color: #fff2f2;
}
