.wrap-sign-up {
  padding-top: 5%;
}

.wrap-sign-up h1 {
  text-align: center;
  font-size: calc(2 * 1.5rem);
  font-weight: bold;
}

.wrap-sign-up-form {
  display: flex;
  margin-top: 6%;
}

.wrap-sign-up-form-left {
  background-color: bisque;
  text-align: end;
  width: 40vw;
}

.wrap-sign-up-form-left div {
  margin: 2% 2% 12% 2%;
}

.wrap-sign-up-form-left :nth-child(4) {
  margin-top: calc(3.5 * 1.5rem);
}

.wrap-sign-up-form-left span {
  font-size: calc(1.3 * 1.5rem);
  font-weight: bold;
}

.wrap-sign-up-form-right {
  background-color: aqua;
  width: 70vw;
}

.wrap-sign-up-form-right input {
  font-size: calc(1 * 1.5rem);
}

.wrap-sign-up-form-input {
  text-align: center;
  width: calc(20 * 1.5rem);
  height: calc(2 * 1.5rem);
  margin: 1%;
  border: 2px black solid;
}

.confirm-btn {
  margin-bottom: 8%;
  font-size: calc(1 * 1.5rem);
}

.input-with-btn {
  width: calc(5 * 1.5rem);
  height: calc(2.2 * 1.5rem);
}

.sign-up-btn {
  display: block;
  margin: 5% auto 3% auto;
  width: calc(8 * 1.5rem);
  height: calc(4 * 1.5rem);
  font-size: calc(1.3 * 1.5rem);
}

.wrap-sign-up-img {
  text-align: center;
}

.sign-up-img {
  width: calc(6 * 1.5rem);
}
