@import url(reset.css);
:root {
  --full-width: 100%;
  --section3-arrow-width: 3%;
  --wrap-padding: 15% 10% 10% 10%;
}

.hide-element {
  display: none;
}

.unvisible {
  visibility: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 24px;
  word-spacing: 5px;
  letter-spacing: 1px;
}

body {
  width: var(--full-width);
  margin: 0 auto;
}

.hover-active-animation:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.hover-active-animation:active {
  transform: translateY(4px);
}

header .header-background {
  position: fixed;
  display: grid;
  grid-template-columns: 3fr 7fr;
  justify-items: center;
  padding: 27px 0;
  width: var(--full-width);
  border-bottom: solid #000000 3px;
  font-weight: bold;
  z-index: 10;
  background-color: #e6de6e;
}
header .header-background .header-logo {
  display: flex;
  align-items: center;
  margin-left: 30%;
  width: 60%;
}
header .header-background .header-logo img {
  width: 3rem;
  height: auto;
}
header .header-background .header-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 70%;
  font-size: 22px;
}
header .header-background .header-menu :hover {
  cursor: pointer;
}

.wrap-detail-page {
  transition: all 0.1s;
}
.wrap-detail-page .detail-menu-page {
  position: fixed;
  display: grid;
  grid-template-columns: 3fr 7fr;
  justify-items: center;
  align-items: center;
  margin-top: 110px;
  width: var(--full-width);
  height: 40%;
  border-bottom: solid #000000 3px;
  background-color: #e6de6e;
  z-index: 10;
}
.wrap-detail-page .detail-menu-page img {
  margin-left: 10%;
  width: 80%;
  height: auto;
}
.wrap-detail-page .detail-menu-page .inner-detail-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  border: 2px black solid;
  border-radius: 10px;
  width: 70%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.5);
}
.wrap-detail-page .detail-menu-page .inner-detail-page :nth-child(8) {
  grid-column: 3/4;
  grid-row: 3/4;
}
.wrap-detail-page .detail-menu-page .inner-detail-page a {
  font-weight: bold;
}

.scroll-top-btn {
  position: fixed;
  right: 1%;
  bottom: 2%;
  width: 3vw;
  height: 3vw;
  border: 0px;
  border-radius: 10px;
  box-shadow: 4px 4px #999;
  font-size: 18px;
  cursor: pointer;
  color: white;
  background-color: black;
  z-index: 15;
}

.section1 {
  padding: 110px 0;
  background-color: #e6de6e;
}

.main-info {
  display: flex;
  padding: 34px 10%;
  color: #fefefe;
  background-color: black;
}
.main-info > video {
  margin: 0 auto;
  width: 30%;
}

.wrap-section1-paragraph {
  width: 60%;
}
.wrap-section1-paragraph > hr {
  height: 4px;
  width: 100%;
  background-color: #ffffff;
}

.section1-first-paragraph {
  padding-bottom: 10px;
  line-height: 50px;
  font-size: 24px;
  font-weight: bold;
}

.section1-second-paragraph {
  padding: 10px;
  font-size: 18px;
}

.section1-menu {
  padding-left: 10%;
  margin-top: 5%;
  font-size: 30px;
  font-weight: bold;
}

.wrap-section1-dishes {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  padding: 0 10%;
}

.wrap-section1-dish {
  position: relative;
  width: 20%;
}
.wrap-section1-dish:hover .dish-image {
  opacity: 0.2;
}
.wrap-section1-dish:hover .paragrah-dish {
  opacity: 1;
}
.wrap-section1-dish .dish-image {
  width: 100%;
  border: 4px #ffffff double;
  border-radius: 200px;
}

.paragrah-dish {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  opacity: 0;
}

.section2 {
  padding: var(--wrap-padding);
  background-color: #73b46e;
}
.section2 > div > img {
  margin: 3% auto;
  width: 50%;
}

.section2-background-canvas {
  display: flex;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
}

.wrap-section2-paragraph {
  margin: 0 auto;
  width: 40%;
  line-height: 60px;
  text-shadow: 0px 2px 0 #000000;
  color: #ffffff;
}
.wrap-section2-paragraph > hr {
  margin: 0 auto;
  width: 90%;
  height: 3px;
  background-color: #ffffff;
}

.section2-first-paragraph {
  text-align: center;
  margin: 15% auto;
  line-height: 30px;
  font-size: 1.5rem;
  font-weight: bold;
}

.section2-second-paragraph {
  text-align: left;
  margin: 5% 0 0 5%;
  font-size: 1rem;
  font-weight: bold;
}

.section3 {
  background-color: #b9b6b6;
}

.left-arrow {
  position: absolute;
  margin-top: 30%;
  margin-left: 3%;
  width: var(--section3-arrow-width);
  border: 0px;
  border-radius: 10px;
  font-size: 34px;
  cursor: pointer;
}

.right-arrow {
  position: absolute;
  margin-top: 30%;
  margin-left: calc(100% - var(--section3-arrow-width) - 3%);
  width: 3%;
  font-size: 34px;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
}

.section3-1 {
  padding: var(--wrap-padding);
}

.section3-1-background {
  display: flex;
  margin: 0 auto;
  background-color: #b9b6b6;
}

.section3-1-side {
  width: 50%;
}

.love-earth-img {
  margin-left: 10%;
  width: 80%;
  height: auto;
}

.section3-1-content {
  margin: 5% auto 0 auto;
  width: 80%;
  font-size: 18px;
}

.section3-1-qusetion {
  position: absolute;
  margin-left: 30%;
  line-height: 70px;
  font-size: 50px;
  font-weight: bold;
}

.section3-1-main {
  margin: 20% 0 0 auto;
  width: 50%;
}

.section3-1-answer {
  font-size: 34px;
  font-weight: bold;
  text-shadow: 0 1px 0 #000000;
}

.cow-and-car {
  margin: 10% auto 0 10%;
  width: 80%;
  height: auto;
  border: solid 5px #000000;
}

.section3-1-description {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

.section3-2 {
  padding: 15% 0 10% 0;
}
.section3-2 img {
  position: absolute;
  border: 5px #707070 solid;
}

.section3-2-background {
  background-color: #dbc5c3;
}

.section3-2-upper {
  display: flex;
  justify-content: center;
  padding: 0 10%;
}

.section3-2-upper-paragraph {
  width: 70%;
}

.section3-2-answer {
  font-size: 36px;
  font-weight: bold;
  text-shadow: 0px 1px 0 #000000;
}

.section3-2-content1 {
  margin: 50px 0 30px 0;
  font-size: 20px;
}

.section3-2-upper-images {
  width: 30%;
}
.section3-2-upper-images .pig1,
.section3-2-upper-images .pig2 {
  margin-left: 3%;
  width: 300px;
  height: 300px;
}

.section3-2-background-canvas {
  background-color: #e28b84;
}

.section3-2-down {
  display: flex;
}

.section3-2-down-img {
  width: 30%;
}
.section3-2-down-img .cow1,
.section3-2-down-img .cow2 {
  margin-top: 2%;
  margin-left: 10%;
  width: 350px;
  height: 350px;
}

.pig1,
.cow1 {
  z-index: 1;
}

.pig2,
.cow2 {
  z-index: 0;
}

.pig1:hover,
.cow1:hover {
  opacity: 0;
  transition: all 1s;
}

.section3-2-down-paragraph {
  width: 60%;
  padding: 2% 15%;
}

.section3-2-content2 {
  text-align: center;
  line-height: 28px;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0px 1px 0 #000000;
}

.section3-2-content3 {
  margin-top: 5%;
  font-size: 20px;
}

.section3-3 {
  padding: var(--wrap-padding);
}

.section3-3-background {
  background-color: #66bec8;
}

.section3-3-answer {
  margin: 0 0 5% 10%;
  font-size: 34px;
  font-weight: bold;
}

.section3-3-grid-container {
  display: grid;
  grid-template-columns: 35% 35%;
  grid-template-rows: auto auto;
  justify-content: center;
  row-gap: 5%;
  column-gap: 10%;
}

.section3-3-background-canvas {
  border: 2px #000000 solid;
}

.section3-3-background-canvas1 {
  background-color: #efeaf6;
}

.section3-3-background-canvas2 {
  background-color: #f3d5d5;
}

.section3-3-background-canvas3 {
  background-color: #e0f3ee;
}

.section3-3-background-canvas4 {
  background-color: #f5f4e3;
}

.section3-3-content {
  text-align: center;
  margin: 10% 5%;
  font-size: 16px;
  font-weight: bold;
}

.section4 {
  display: flex;
  padding: 15% 10% 5% 10%;
  background-color: #dbbf65;
}

.section4-main {
  width: 70%;
  text-align: center;
  line-height: 350px;
  font-size: 15rem;
  color: #ff6737;
  text-shadow: 2px 2px 2px black;
  opacity: 70%;
}

.section4-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  align-items: flex-end;
  width: 30%;
}

.history {
  grid-column: 2/3;
  grid-row: 1/2;
}

.history-canvas {
  background-color: rgba(255, 255, 255, 0.7);
}
.history-canvas p {
  text-align: left;
  padding: 10%;
  font-size: 12px;
  font-weight: bold;
}

.history-icon {
  width: 40%;
  height: auto;
}

.KIM-salad-logo1 {
  grid-row: 2/3;
  grid-column: 1/2;
  width: 80%;
  border: #000000 5px solid;
}

.KIM-salad-logo2 {
  grid-row: 2/3;
  grid-column: 2/3;
  width: 100%;
  border: #000000 5px solid;
}

/*# sourceMappingURL=style.css.map */
