@import url(reset.css);
:root {
  --full-width: 100%;
  --section3-arrow-width: 3%;
  --wrap-padding: 15% 10% 10% 10%;
}

.hide-element {
  display: none;
}

.unvisible {
  visibility: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 24px;
  word-spacing: 5px;
  letter-spacing: 1px;
}

body {
  width: var(--full-width);
  margin: 0 auto;
}

.loading {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  left: 0px;
  top: 0px;
  background: #fff;
  z-index: 100;
}

.dot span {
  animation: dotting 1.2s infinite;
}

.dot :nth-child(1) {
  animation-delay: 0s;
}
.dot :nth-child(2) {
  animation-delay: 0.4s;
}
.dot :nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes dotting {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* header */
header .header-background {
  background-color: #e6de6e;
  display: grid;
  grid-template-columns: 3fr 7fr;
  justify-items: center;
  position: fixed;
  width: var(--full-width);
  padding: 27px 0;
  font-weight: bold;
  z-index: 10;
  border-bottom: solid #000000 3px;
}
header .header-background .header-logo {
  display: flex;
  align-items: center;
  margin-left: 30%;
  width: 60%;
}
header .header-background .header-logo :hover {
  cursor: pointer;
}
header .header-background .header-logo img {
  width: 3rem;
  height: auto;
}
header .header-background .header-menu {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  list-style: none;
  font-size: 22px;
}
header .header-background .header-menu :hover {
  cursor: pointer;
}

.wrap-detail-page {
  transition: all 0.5s;
}
.wrap-detail-page .detail-menu-page {
  height: 40%;
  display: grid;
  grid-template-columns: 3fr 7fr;
  justify-items: center;
  align-items: center;
  position: fixed;
  margin-top: 110px;
  width: var(--full-width);
  z-index: 10;
  background-color: #e6de6e;
  border-bottom: solid #000000 3px;
}
.wrap-detail-page .detail-menu-page img {
  margin-left: 10%;
  width: 80%;
  height: auto;
}
.wrap-detail-page .detail-menu-page .inner-detail-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  height: 80%;
}
.wrap-detail-page .detail-menu-page .inner-detail-page :nth-child(6) {
  grid-column: 3/4;
  grid-row: 2/3;
}
.wrap-detail-page .detail-menu-page .inner-detail-page :nth-child(7) {
  grid-column: 3/4;
  grid-row: 3/4;
}
.wrap-detail-page .detail-menu-page .inner-detail-page a {
  font-weight: bold;
}

.section1 {
  background-color: #e6de6e;
  padding: 110px 0;
}

.mainInfo {
  padding: 34px 10%;
  display: flex;
  background-color: black;
  color: #fefefe;
}
.mainInfo > video {
  width: 30%;
  margin: 0 auto;
}

.paragraph1 {
  width: 60%;
}

#firstParagraph {
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
}

#secondParagraph {
  padding: 10px;
  font-size: 18px;
}

.paragraph1 > hr {
  height: 4px;
  background-color: #ffffff;
  width: 100%;
}

.mainImage {
  padding: 0 10%;
  display: flex;
  margin: 5% auto;
  justify-content: space-between;
}
.mainImage > img {
  width: 20%;
  border: 2px #ffffff solid;
  border-radius: 200px;
}

.section2 {
  background-color: #73b46e;
  padding: var(--wrap-padding);
}

#backgroundCanvas2 {
  display: flex;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
}

.paragraph2 {
  width: 40%;
  margin: 0 auto;
  line-height: 60px;
  color: #ffffff;
  text-shadow: 0px 2px 0 #000000;
}

#thirdParagraph {
  line-height: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 15% auto;
}

.paragraph2 > hr {
  width: 90%;
  height: 3px;
  margin: 0 auto;
  background-color: #ffffff;
}

#fourthParagraph {
  font-size: 1rem;
  text-align: left;
  margin: 5% 0 0 5%;
  font-weight: bold;
}

.section2 > div > img {
  width: 50%;
  margin: 3% auto;
}

.section3 {
  background-color: #b9b6b6;
}

#left_arrow {
  position: absolute;
  width: var(--section3-arrow-width);
  margin-top: 30%;
  margin-left: 3%;
}

#right_arrow {
  position: absolute;
  width: 3%;
  margin-top: 30%;
  margin-left: calc(100% - var(--section3-arrow-width) - 3%);
}

.section3-1 {
  padding: var(--wrap-padding);
}

#backgroundSection3-1 {
  display: flex;
  margin: 0 auto;
  background-color: #b9b6b6;
}

.section3-1-side {
  width: 50%;
}

#loveEarthImg {
  width: 80%;
  height: auto;
  margin-left: 10%;
}

#content3-1-1 {
  font-size: 18px;
  width: 80%;
  margin: 5% auto 0 auto;
}

#qusetion3-1 {
  position: absolute;
  margin-left: 30%;
  line-height: 70px;
  font-size: 50px;
  font-weight: bold;
}

.section3-1-main {
  width: 50%;
  margin: 20% 0 0 auto;
}

#answer3-1 {
  font-size: 34px;
  font-weight: bold;
  text-shadow: 0 1px 0 #000000;
}

#cowandcar {
  width: 80%;
  height: auto;
  border: solid 5px #000000;
  margin: 10% auto 0 10%;
}

#Content3-1-2 {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.section3-2 {
  padding: 15% 0 10% 0;
}

#backgroundSection3-2 {
  background-color: #dbc5c3;
}

#backgroundCanvas3-2 {
  background-color: #e28b84;
}

.section3-2-upper {
  display: flex;
  justify-content: center;
  padding: 0 10%;
}

.section3-2-upper-paragraph {
  width: 70%;
}

#answer3-2 {
  font-size: 36px;
  font-weight: bold;
  text-shadow: 0px 1px 0 #000000;
}

#content3-2-1 {
  font-size: 20px;
  margin: 50px 0 30px 0;
}

.section3-2-upper-img {
  width: 30%;
}

.section3-2-down {
  display: flex;
}

.section3-2-down-paragraph {
  width: 60%;
  padding: 2% 15%;
}

.section3-2-down-img {
  width: 30%;
}

#content3-2-2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  text-shadow: 0px 1px 0 #000000;
}

#content3-2-3 {
  margin-top: 5%;
  font-size: 20px;
}

.section3-2 img {
  position: absolute;
  border: #707070 5px solid;
}

#pig1,
#pig2 {
  margin-left: 3%;
  width: 300px;
  height: 300px;
}

#cow1,
#cow2 {
  margin-top: 2%;
  margin-left: 10%;
  width: 350px;
  height: 350px;
}

#pig1,
#cow1 {
  z-index: 1;
}

#pig2,
#cow2 {
  z-index: 0;
}

#pig1:hover,
#cow1:hover {
  opacity: 0;
  transition: all 1s;
}

.section3-3 {
  padding: var(--wrap-padding);
}

#backgroundSection3-3 {
  background-color: #66bec8;
}

#answer3-3 {
  font-size: 34px;
  font-weight: bold;
  margin: 0 0 5% 10%;
}

.section3-3-grid-container {
  justify-content: center;
  display: grid;
  grid-template-columns: 35% 35%;
  grid-template-rows: auto auto;
  row-gap: 5%;
  column-gap: 10%;
}

#backgroundCanvas3-3-1 {
  background-color: #efeaf6;
}

#backgroundCanvas3-3-2 {
  background-color: #f3d5d5;
}

#backgroundCanvas3-3-3 {
  background-color: #e0f3ee;
}

#backgroundCanvas3-3-4 {
  background-color: #f5f4e3;
}

.section3-3-backgroundCanvas {
  border: #000000 2px solid;
}

.content3-3 {
  margin: 10% 5%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.section4 {
  background-color: #dbbf65;
  display: flex;
  padding: 15% 10% 5% 10%;
}

#since {
  width: 70%;
  font-size: 15rem;
  line-height: 350px;
  color: #ff6737;
  opacity: 70%;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.section4-container {
  width: 30%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  align-items: flex-end;
}

.history {
  grid-column: 2/3;
  grid-row: 1/2;
}

.history-canvas {
  background-color: rgba(255, 255, 255, 0.7);
}

#history_icon {
  width: 40%;
  height: auto;
}

.KIM-salad-logo {
  border: #000000 5px solid;
}

#KIM-salad-logo1 {
  width: 80%;
  grid-row: 2/3;
  grid-column: 1/2;
}

#KIM-salad-logo2 {
  width: 100%;
  grid-row: 2/3;
  grid-column: 2/3;
}

.history-canvas p {
  font-size: 12px;
  text-align: left;
  padding: 10%;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
