@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital@1&display=swap");

@import url(reset.css);

:root {
  --main-font: "Volkhov";
}

.hide-element {
  display: none;
}

body {
  font-family: var(--main-font);
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 24px;
  word-spacing: 5px;
  letter-spacing: 1px;
}

hr {
  border: 0;
}

/* header */

header > {
  nav {
    display: flex;
    position: fixed;
    width: 90%;
    margin: 40px auto;
    justify-content: space-between;
    font-weight: bold;
    z-index: 10;
  }

  hr {
    position: fixed;
    background-color: black;
    width: 90%;
    margin: 110px auto;
    height: 3px;
    z-index: 10;
  }
}

#KIM-salad {
  margin-top: 10px;
}

.header__logo {
  display: flex;
  width: 20%;

  img {
    width: 3rem;
    height: auto;
  }
}

.header__menu {
  width: 70%;
  display: flex;
  list-style: none;
  font-size: 22px;

  > li {
    margin: 10px auto;
  }
}

.header__icons {
  width: 10%;
  font-size: 30px;
}

.section1 {
  float: left;
  margin: 0 auto;
  padding-top: 110px;
  background-color: #e6de6e;
}

.mainInfo {
  padding: 30px;
  display: flex;
  background-color: black;
  color: #fefefe;

  > video {
    width: 30%;
    margin: 0 auto;
  }
}

.paragraph1 {
  width: 60%;
}

#firstParagraph {
  padding: 40px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
}

#secondParagraph {
  padding: 10px 0 10px 0;
  font-size: 14px;
}

.paragraph1 > hr {
  height: 4px;
  background-color: #ffffff;
  width: 95%;
}

.mainImage {
  width: 100%;
  display: flex;
  justify-content: space-between;

  > img {
    width: 20%;
    margin: 20px auto;
    border: 2px #ffffff solid;
    border-radius: 200px;
  }
}

#reference {
  margin-bottom: 5%;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: right;
}

.section2 {
  display: flex;
  float: left;
  width: 100%;
  margin: 0 auto;
  background-color: #73b46e;
}

#backgroundCanvas2 {
  display: flex;
  width: 90%;
  margin: 15% auto;
  background-color: rgba(255, 255, 255, 0.4);
}

.paragraph2 {
  width: 40%;
  margin: 0 auto;
  line-height: 60px;
  z-index: 2;
  color: #ffffff;
  text-shadow: 0px 2px 0 #000000;
}

#thirdParagraph {
  line-height: 30px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 15% auto;
}

.paragraph2 > hr {
  width: 90%;
  height: 3px;
  margin: 0 auto;
  background-color: #ffffff;
}

#fourthParagraph {
  font-size: 18px;
  text-align: left;
  padding-left: 5%;
}

.section2 > div > img {
  width: 50%;
  margin: 3% auto;
}

.section3 {
  float: left;
  width: 100%;
  margin: 0 auto;
}

#left_arrow {
  position: absolute;
  width: 3%;
  margin-top: 50%;
}

#right_arrow {
  position: absolute;
  width: 3%;
  margin-top: 50%;
  margin-left: 87%;
}

#backgroundSection3-1 {
  background-color: #b9b6b6;
  display: flex;
}

.section3-1-side {
  width: 50%;
  margin: 15% auto;
}

#loveEarthImg {
  width: 80%;
  height: auto;
  margin-left: 10%;
}

#content3-1-1 {
  font-size: 18px;
  width: 80%;
  margin: 5% auto 0 auto;
}

#qusetion3-1 {
  position: absolute;
  margin: 20% 0 0 30%;
  line-height: 70px;
  font-size: 50px;
  font-weight: bold;
}

.section3-1-main {
  width: 50%;
  margin: 40% 10% 0 auto;
}

#answer3-1 {
  font-size: 34px;
  font-weight: bold;
  text-shadow: 0 1px 0 #000000;
}

#cowandcar {
  width: 80%;
  height: auto;
  border: solid 5px #000000;
  margin: 10% auto 0 10%;
}

#Content3-1-2 {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

#backgroundSection3-2 {
  padding-top: 15%;
  padding-bottom: 10%;
  background-color: #dbc5c3;
}

#backgroundCanvas3-2 {
  margin-top: 10%;
  padding-bottom: 10%;
  background-color: #e28b84;
}

.section3-2-upper {
  display: flex;
}

.section3-2-upper-paragraph {
  width: 50%;
  margin: 0 auto;
}

#answer3-2 {
  margin-bottom: 5%;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 0px 1px 0 #000000;
}

#content3-2-1 {
  font-size: 16px;
  margin-bottom: 5%;
}

.section3-2-upper-img {
  width: 40%;
}

.section3-2-down {
  display: flex;
}

.section3-2-down-paragraph {
  width: 50%;
  margin: 0 auto;
}

.section3-2-down-img {
  margin: 5% 0 10% 5%;
  width: 30%;
}

#content3-2-2 {
  margin: 5% 5%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  text-shadow: 0px 1px 0 #000000;
}

#content3-2-3 {
  font-size: 16px;
}

.section3-2 img {
  position: absolute;
  border: #707070 5px solid;
}

#pig1,
#pig2 {
  left: 60%;
  width: 20%;
  height: 40%;
}

#cow1,
#cow2 {
  left: 10%;
  width: 20%;
  height: 40%;
}

#pig1,
#cow1 {
  z-index: 1;
}

#pig2,
#cow2 {
  z-index: 0;
}

#pig1:hover,
#cow1:hover {
  opacity: 0;
  transition: all 1s;
}

#backgroundSection3-3 {
  background-color: #66bec8;
  padding-top: 20%;
}

#answer3-3 {
  font-size: 34px;
  font-weight: bold;
  margin: 0 0 5% 10%;
}

.section3-3-grid-container {
  justify-content: center;
  display: grid;
  grid-template-columns: 35% 35%;
  grid-template-rows: auto auto;
  row-gap: 5%;
  column-gap: 10%;
  padding-bottom: 10%;
}

#backgroundCanvas3-3-1 {
  background-color: #efeaf6;
}

#backgroundCanvas3-3-2 {
  background-color: #f3d5d5;
}

#backgroundCanvas3-3-3 {
  background-color: #e0f3ee;
}

#backgroundCanvas3-3-4 {
  background-color: #f5f4e3;
}

.section3-3-backgroundCanvas {
  border: #000000 2px solid;
  padding: 10%;
  width: 90%;
  height: auto;
}

.content3-3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.section4 {
  float: left;
  width: 100%;
  background-color: #dbbf65;
  display: flex;
  padding: 10% 0 5% 0;
}

#since {
  width: 60%;
  font-size: 16rem;
  line-height: 400px;
  color: #ff6737;
  opacity: 70%;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  margin-left: 5%;
}

.section4-container {
  width: 40%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
}

.history {
  display: flex;
  grid-column: 2/3;
  grid-row: 1/2;
}

.history-canvas {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 10%;
}

#history_icon {
  width: 40%;
  height: auto;
}

.KIM-salad-logo {
  border: #000000 5px solid;
}

#KIM-salad-logo1 {
  width: 70%;
  grid-row: 2/3;
  grid-column: 1/2;
  align-self: flex-end;
  justify-self: end;
}

#KIM-salad-logo2 {
  width: 80%;
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: center;
}

.history-canvas p {
  font-size: 12px;
  text-align: left;
  padding: 10%;
  font-weight: bold;
}
